.modal {
  width: 100%;
  height: 100%;
}

.modal .modal-section {
  overflow: hidden;
}

.modal .modal-section .modal-container {
  display: flex;
}

.modal .modal-section .modal-container .modal-image {
  flex: 0 0 100%;
  width: 50%;
  height: 100vh;
}

.modal .modal-section .modal-container .modal-image .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
